// FLATPICKER //

#flatpickr-group-top-input {
  border-top-left-radius: 0.2rem !important;
}
#flatpickr-group-bot-input {
  border-bottom-left-radius: 0.2rem !important;
}
#flatpickr-group-top-close {
  border-top-right-radius: 0.2rem !important;
}
#flatpickr-group-bot-close {
  border-bottom-right-radius: 0.2rem !important;
}

#search-checkbox-weight {
  .btn {
    border: 1px solid #ced4da;
    color: $secondary;
    &:hover {
      color: white;
    }
  }
  input[type="radio"]:checked + label {
    color: white;
    border: none;
  }
}

// MAPBOX //
#geocoder {
}
.mapboxgl-ctrl-geocoder {
  width: 100%;
  max-width: 100%;
  box-shadow: none;
  border: 1px solid #ced4da;
  border-radius: 0 0.2rem 0.2rem 0;
}
