#flatpickr-group-top-input {
  border-top-left-radius: 0.2rem !important;
}
#flatpickr-group-bot-input {
  border-bottom-left-radius: 0.2rem !important;
}
#flatpickr-group-top-close {
  border-top-right-radius: 0.2rem !important;
}
#flatpickr-group-bot-close {
  border-bottom-right-radius: 0.2rem !important;
}
